<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kh.healthcare.cardiovascularManagement.bloodPressure.BloodPressureMapper">

    <insert id="bloodPressureWrite">
        INSERT INTO BLOOD_PRESSURE
        (
            NO
            , MEMBER_NO
            <if test="enrollDate != null and enrollDate != ''">
            , ENROLL_DATE
            </if>
            <if test="note != null and note != ''">
            , NOTE
            </if>
            , SYSTOLE
            , DIASTOLE
            , PULSE
        )
        VALUES
        (
            SEQ_BLOOD_PRESSURE.NEXTVAL
            , #{memberNo}
            <if test="enrollDate != null and enrollDate != ''">
            , TO_DATE(REPLACE(#{enrollDate}, 'T', ' '), 'YYYY-MM-DD HH24:MI')
            </if>
            <if test="note != null and note != ''">
            , #{note}
            </if>
            , #{systole}
            , #{diastole}
            , #{pulse}
        )
    </insert>

</mapper>