<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kh.healthcare.notice.NoticeMapper">

    <select id="list">
        SELECT
        N.NO,
        A.NICK,
        N.WRITER,
        N.TITLE,
        N.CONTENT,
        N.HIT,
        CASE
            WHEN TRUNC(N.MODIFY_DATE) = TRUNC(SYSDATE)
            THEN TO_CHAR(N.MODIFY_DATE, 'HH24:MI')
            ELSE TO_CHAR(N.MODIFY_DATE, 'YY.MM.DD')
        END AS MODIFY_DATE,
        CASE
            WHEN TRUNC(N.ENROLL_DATE) = TRUNC(SYSDATE)
            THEN TO_CHAR(N.ENROLL_DATE, 'HH24:MI')
            ELSE TO_CHAR(N.ENROLL_DATE, 'YY.MM.DD')
        END AS ENROLL_DATE
        FROM NOTICE N
        JOIN ADMIN A ON ( N.WRITER = A.NO )
        WHERE N.DEL_YN = 'N'
        <if test="searchValue != null and searchValue != ''">
            <choose>
                <when test="searchType == 1">
                    AND N.CONTENT LIKE '%' || #{searchValue} || '%'
                </when>
                <when test="searchType == 2">
                    AND (N.CONTENT LIKE '%' || #{searchValue} || '%'
                    OR N.TITLE LIKE '%' || #{searchValue} || '%')
                </when>
                <when test="searchType == 3">
                    AND A.NICK LIKE '%' || #{searchValue} || '%'
                </when>
                <otherwise>
                    AND N.TITLE LIKE '%' || #{searchValue} || '%'
                </otherwise>
            </choose>
        </if>
        <choose>
            <when test="order == 1">
                ORDER BY N.NO ASC
            </when>
            <when test="order == 2">
                ORDER BY N.HIT DESC
            </when>
            <otherwise>
                ORDER BY N.NO DESC
            </otherwise>
        </choose>
    </select>

    <insert id="insertAttachNotice">
        INSERT ALL
        <foreach collection="list" item="x">
            INTO NOTICE_ATTACHMENT
            (
            NO
            , NOTICE_NO
            , ORIGIN_NAME
            , PATH
            )
            VALUES
            (
            (SELECT GET_NOTICE_ATTACHMENT_NO FROM DUAL)
            , SEQ_NOTICE.CURRVAL
            , #{x.originName}
            , #{x.path}
            )
        </foreach>
        SELECT 1 FROM DUAL
    </insert>


</mapper>